html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}
 
.login-buttons-dropdown-align-right {
    float: right;
}

.chat {
  float: left;
  width: 40%;
  display: inline;
}

.post {
  display: inline;
  float: right;
  width: 40%;
}